#%RAML 1.0
title: Area and Census Block
version: v1
baseUri: https://geo.fcc.gov/api/census

/area:
  displayName: getArea
  get:
    description: |
      Get census block, county, state, and market area information based on latitude/longitude input.
    queryParameters:
        lat:
          description: Latitude [-90 90] in decimal or DMS (degrees:minutes:seconds) Examples:- 
           [38.26 or 38:15:36N]
          type: number
          required: true
        lon:
          description: Longitude [-180 180] in decimal or DMS (degrees:minutes:seconds). Examples:-
           [-77.51 or 77:30:36W]
          type: number
          required: true
        format:
          description: Format for the returned results. <br>Valid value - XML (default), JSON, JSONP
          type: string
          default: json 
          enum: ["","json","jsonp","xml"] 
          required: false
    responses:
        200:
          body:
            application/json:
            application/xml:
              example: |
                {"status" : "OK"
                }
        500:
          body:
            application/json:
            application/xml:
              example: |
                {"status" : "Internal Server Error"
                }
/block/find:
  displayName: getBlock
  get:
    description: |
      Get census block, county, and state FIPS based on latitude/longitude input.
    queryParameters:
        latitude:
          description: Latitude [-90 90] in decimal or DMS (degrees:minutes:seconds) Examples:- 
           [38.26 or 38:15:36N]
          type: number
          required: true
        longitude:
          description: Longitude [-180 180] in decimal or DMS (degrees:minutes:seconds). Examples:-
            [-77.51 or 77:30:36W]
          type: number
          required: true
        censusYear:
          description: Returns results based on census year. Valid values:- 2010 (default)
          type: number
          default: 2010
          required: true
        showall:
          description: If the coordinate lies on the boundary of multiple geographies, for a complete list use showall=true
          type: boolean
          required: false 
        format:
          description: Format for the returned results. <br>Valid value - XML (default), JSON, JSONP
          type: string
          default: xml 
          enum: ["","xml","json","jsonp"] 
          required: false
    responses:
        200:
          body:
            application/json:
            application/xml:
              example: |
                {"status" : "OK"
                }
        500:
          body:
            application/json:
            application/xml:
              example: |
                {"status" : "Internal Server Error"
                }